@model Helperland.Models.User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="ForgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Home" asp-action="ForgotPassword"> 
                    <div class="input-group mb-3">
                        <input type="email" asp-for="Email" class="form-control border-right-0" placeholder="Email Address">
                        <span class="input-group-append bg-white border-left-0">
                            <span class="input-group-text bg-transparent">
                                <i class="fas fa-user"></i>
                            </span>
                        </span>
                        <div class="text-success">@ViewData["MessageSuccess"]</div>
                        <div class="text-danger">@ViewData["MessageFail"]</div>
                    </div>
                    <div class="input-group justify-content-center mb-4">
                        <button class="send-btn">Send</button>
                    </div>
                    <div class="input-group justify-content-center">
                        <a href="#" class="link-clr" data-dismiss="modal" data-target="#LoginModal"
                           data-toggle="modal"><b>Login now</b></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>