html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,a:hover{
    text-decoration: none;
}


.divide-img::before,
.divide-img::after{
    content: '';
    display: block;
    background-color: #CCCCCC;
    width: 62px;
    height: 1px;
}

.divide-img img{
    padding: 0 8px;
}

/***************************************
               Modal
***************************************/
.modal{
    z-index: 10000;
}

#LoginModal .modal-header .modal-title{
    color: #565656;
    font-size: 26px;
    font-weight: bold;
}

#ForgotModal .modal-body .send-btn,
#LoginModal .modal-body .login-btn{
    background-color: #0088a0;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    color: white;
    border: none;
}

#ForgotModal .modal-body .link-clr,
#LoginModal .modal-body .link-clr{
    color: #0088a0;
}

#LoginModal .modal-sm{
    max-width: 350px !important;
}

#ForgotModal .modal-sm{
    max-width: 300px !important;
}

/***************************************
            Main-Content
***************************************/
#create-account-section{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
}

#create-account-section .head h1{
    color: #4F4F4F;
    font-size: 36px;
    font-weight: 700;
    margin: 31px 0 9px 0;
}

#create-account-section .create-account-content .form-control{
    /* max-width: 299px; */
    min-height: 46px;
}

#create-account-section form .submit-btn{
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    width: 163px;
    height: 46px;
    border-radius: 23px;
    transition: all .3s ease;
}

#create-account-section form .submit-btn:hover{
    background-color: #FFFFFF;
    color: #1D7A8C;
    transition: all .3s ease;
}

#create-account-section form .link-clr{
    color: #0088a0;
}