html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a,a:hover{
    text-decoration: none;
}


.divide-img::before,
.divide-img::after{
    content: '';
    display: block;
    background-color: #CCCCCC;
    width: 62px;
    height: 1px;
}

.divide-img img{
    padding: 0 8px;
}

/***************************************
               Modal
***************************************/
.modal{
    z-index: 10000;
}

#LoginModal .modal-header .modal-title{
    color: #565656;
    font-size: 26px;
    font-weight: bold;
}

#ForgotModal .modal-body .send-btn,
#LoginModal .modal-body .login-btn{
    background-color: #0088a0;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    color: white;
    border: none;
}

#ForgotModal .modal-body .link-clr,
#LoginModal .modal-body .link-clr{
    color: #0088a0;
}

#LoginModal .modal-sm{
    max-width: 350px !important;
}

#ForgotModal .modal-sm{
    max-width: 300px !important;
}

/***************************************
              Section-1
***************************************/
#banner{
    max-width: 100%;
    margin-top: 77px;
}

#banner .banner-img{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    width: 100%;
}

#banner .head h1,
#banner .head h2{
    color: #4F4F4F;
    font-size: 36px;
    font-weight: 600;
    margin: 32px 0 9px 0;
}

#banner .about-us,
#banner .our-story{
    max-width: 992px;
}

#banner .about-us{
    margin-bottom: 40px;
}

#banner .our-story{
    margin-bottom: 48px;
}

#banner .about-us .about-us-divide{
    margin-bottom: 35px;
}

#banner .our-story .our-story-divide{
    margin-bottom: 38px;
}

#banner .about-us .about-us-content,
#banner .our-story .our-story-content{
    color: #646464;
    font-size: 16px;
}

#banner .about-us .about-us-content{
    min-height: 265px;
}

#banner .our-story .our-story-content{
    min-height: 284px;
}
/***************************************
              Review
***************************************/

#review{
    margin-bottom: 53px;
}

#review .review-news{
    color: #353548;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

#review .review-mail{
    width: 233px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

#review .review-submit{
    background-color: #FF7B6D;
    width: 88px;
    height: 40px;
    border-radius: 20px;
}

@media screen and (max-width:768px) {
    /* -----Review------ */
    #review .review-mail-div{
        flex-direction: column !important;
        align-items: center;
    }
    
    #review .review-mail{
        margin: 0 0 10px 0;
    }
}

@media  screen and (max-width:425px) {
    /* -----About-Us----- */
    #banner .head h1,
    #banner .head h2{
        font-size: 28px;
    }

    #banner .about-us .about-us-content,
    #banner .our-story .our-story-content{
        font-size: 14px;
    }

    /* -----Review------ */
    #review .review-news{
        margin-bottom: 2px;
    }
}