@model Helperland.Models.ContactU
@{
    ViewData["Title"] = "Contact";
}

@section Styles{
    <link href="~/css/contact.css" rel="stylesheet" />
}


<partial name="~/Views/Shared/_LoginModal.cshtml" />

<partial name="~/Views/Shared/_ForgotModal.cshtml" />

<partial name="~/Views/Shared/_PublicHeader.cshtml" />


<Section id="banner" class="banner">
    <img src="~/assets/group-18.png" class="banner-img" alt="">
    <div class="container-fluid">

        <div class="head text-center">
            <h1>Contact Us</h1>
        </div>

        <div class="divide-img contact-divide d-flex align-items-center justify-content-center">
            <img src="~/assets/forma-1-copy-5.png" alt="">
        </div>

        <div class="d-flex align-items-center justify-content-around mx-auto contact-us-content-bfr">
            <div class="col">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="col text-center">
                        <img src="~/assets/forma-1_2.png" alt="">
                    </div>
                    <div class="col bfr-txt text-center">
                        1111 Lorem ipsum text 100, Lorem ipsum AB
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="col text-center">
                        <img src="~/assets/phone-call.png" alt="">
                    </div>
                    <div class="col bfr-txt text-center">
                        <a href="#">+49 (40) 123 56 7890</a>
                        <a href="#">+49 (40) 987 56 0000</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="col text-center">
                        <img src="~/assets/vector-smart-object.png" alt="">
                    </div>
                    <div class="col bfr-txt text-center">
                        <a href="#">info@helperland.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-us-content col-md-6 mx-auto">
            <div class="head text-center">
                <h2>Get in touch with us</h2>
            </div>
            <form method="post" asp-action="Contact" enctype="multipart/form-data">
                <div class="form-row mx-auto">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control first-name" name="FName" asp-for="Name" id="inputFirstName"
                               placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control last-name" name="LName" asp-for="Name" id="inputLastName"
                               placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row mx-auto">
                    <div class="col-md-6 MobileNumber-m">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+49</div>
                            </div>
                            <input type="tel" class="form-control MobileNumber" asp-for="PhoneNumber" id="inlineFormInputGroupUsername"
                                   placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="form-group col-md-6 email-m">
                        <input type="email" class="form-control email" asp-for="Email" id="inputEmail" placeholder="Email address">
                    </div>
                </div>
                <div class="form-row mx-auto">
                    <div class="form-group col-md-12">
                        <select id="inputState" asp-for="Subject" class="form-control subject">
                            <option selected>Subject</option>
                            <option>Inquiry</option>
                            <option>Complaint</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-row mx-auto">
                    <div class="form-group col-md-12">
                        <textarea name="Message" class="form-control message mx-auto" asp-for="Message" id="InputMessage"
                                  cols="30" rows="5" placeholder="Message"></textarea>
                    </div>
                </div>

                <div class="form-row mx-auto">
                    <div class="form-group col-md-6 col-sm-12">
                        <div class="file-wrapper">
                            <button type="button"class="file-upload">Upload</button>
                            <input type="file" class="file-input" asp-for="UploadFile"/>
                        </div>
                    </div>
                </div>
                <div class="text-success text-center mb-3">@TempData["Msg"]</div>
                <div class="form-row mx-auto justify-content-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit-btn mx-auto">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="google-maps w-100">

            <div id="map-container-google-2" class="z-depth-1-half map-container w-100" style="height: 400px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.6979157244723!2d72.49824711533616!3d23.034861321648275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8352e403437b%3A0xdc9d4dae36889fb9!2sTatvaSoft!5e0!3m2!1sen!2sin!4v1638349079725!5m2!1sen!2sin"
                        height="400" width="100%" style="border:0;" allowfullscreen loading="lazy"></iframe>
            </div>

        </div>

    </div>
</Section>

<div id="review">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="review-news">
            GET OUR NEWSLETTER
        </div>
        <div>
            <div class="d-flex flex-row review-mail-div justify-content-center align-items-center">
                <input type="text" class="input-group-text review-mail bg-transparent text-left"
                       placeholder="YOUR EMAIL">
                <button type="submit" class="btn review-submit text-white">Submit</button>
            </div>
        </div>
    </div>
</div>

