
@{
    ViewData["Title"] = "Faq";
}

@section Styles{
    <link href="~/css/faqs.css" rel="stylesheet" />
}


<partial name="~/Views/Shared/_LoginModal.cshtml" />

<partial name="~/Views/Shared/_ForgotModal.cshtml" />

<partial name="~/Views/Shared/_PublicHeader.cshtml" />

<Section id="banner" class="banner">
    <img src="~/assets/faq-banner.png" class="banner-img" alt="">
    <div class="container-fluid">

        <div class="head text-center">
            <h1>FAQs</h1>
        </div>

        <div class="divide-img d-flex align-items-center justify-content-center">
            <img src="~/assets/forma-1-copy-5.png" alt="">
        </div>

        <div class="content mx-auto">
            <div class="content-msg text-center mx-auto">
                Whether you are Customer or Service provider, We have tried our best to solve all your queries and
                questions.
            </div>

            <div class="qna">
                <ul class="nav nav-tabs text-center align-items-end" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active border-0 for-customer" data-toggle="tab" href="#customer">
                            For
                            Customer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-0 for-sp" data-toggle="tab" href="#sp">For Service Provider</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="customer" class="container tab-pane active p-0">
                        <br>
                        <div id="accordion-customer" class="w-100">

                            <div class="card">
                                <div class="card-header my-auto">
                                    <a class="card-link d-flex flex-row" data-toggle="collapse"
                                       href="#collapseOne-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> What's included in a Cleaning?</p>
                                    </a>
                                </div>
                                <div id="collapseOne-Customer" class="collapse show"
                                     data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Living room, bedroom and bathroom, kitchen and common rooms
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link d-flex flex-row" data-toggle="collapse"
                                       href="#collapseTwo_Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> TestQA?</p>
                                    </a>
                                </div>
                                <div id="collapseTwo_Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseThree-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> Which Helperland Professional will come to my place?</p>
                                    </a>
                                </div>
                                <div id="collapseThree-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Helperland has an extensive network of experienced cleaning staff. Depending
                                        on the location, date and duration, we will try to assign you the best
                                        available helper. If a cleaner accepts your order, you will receive an email
                                        with the profile of the helper. If you use our service more often, you can
                                        save a cleaner as a favorite. For future bookings, your favorite will be
                                        requested first.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseFour-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> Can i skip or reschedule bookings?</p>
                                    </a>
                                </div>
                                <div id="collapseFour-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        You can change a booking free of charge 48 hours before an assignment. If
                                        you want to skip an assignment that has already been booked, we will credit
                                        your account with the value of the booking. You can use the credit for a
                                        future booking
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseFive-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> Test Tatva</p>
                                    </a>
                                </div>
                                <div id="collapseFive-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseSix-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> Test Tatvasoft?</p>
                                    </a>
                                </div>
                                <div id="collapseSix-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseSeven-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> Do I need to be home for the booking?</p>
                                    </a>
                                </div>
                                <div id="collapseSeven-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        We recommend that you be at home the first time you clean it. In this way
                                        you get to know your helper personally. You can also show him the rooms and
                                        respond to your wishes. Of course, you can make an appointment or place to
                                        hand over the keys with your helper. With frequent bookings, some customers
                                        choose to leave a spare key to their cleaner.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseEight-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseEight-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseNine-Customer">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseNine-Customer" class="collapse" data-parent="#accordion-customer">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="sp" class="container tab-pane fade mx-0 px-0">
                        <br>
                        <div id="accordion-sp" class="w-100">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseOne-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> How can I register?</p>
                                    </a>
                                </div>
                                <div id="collapseOne-SP" class="collapse show" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseTwo_SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> How much do service provider earn?</p>
                                    </a>
                                </div>
                                <div id="collapseTwo_SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        The independent service providers who work with Helperland set their own
                                        payouts, ie they decide how much they earn per hour.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseThree-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p> What support do you offer the service provider?</p>
                                    </a>
                                </div>
                                <div id="collapseThree-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Our call center is available to service providers for any questions or
                                        problems regarding their bookings during office hours. Before a service
                                        provider receives orders, each individual partner receives an orientation
                                        session to familiarize themselves with the online platform and its profile.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseFour-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseFour-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseFive-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseFive-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseSix-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseSix-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseSeven-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseSeven-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseEight-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseEight-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link  d-flex flex-row" data-toggle="collapse"
                                       href="#collapseNine-SP">
                                        <img src="~/assets/right-arrow.png" alt="" style="margin-bottom: 4px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl
                                            nunc, iaculis mattis tellus ac ut non imperdiet velit?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseNine-SP" class="collapse" data-parent="#accordion-sp">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam
                                        tincidunt, fringilla ante vitae, dapibus velit. Vivamus id tortor rhoncus,
                                        efficitur quam at, suscipit tortor. Integer fermentum convallis eros vel
                                        semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend
                                        eget quis dui. Integer tempus massa in gravida tincidunt. Fusce in libero
                                        tristique, euismod nisi vel, luctus urna. Interdum et malesuada fames ac
                                        ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia
                                        tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor
                                        eros. Aliquam efficitur pretium urna, sit amet congue risus malesuada
                                        rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</Section>
<div id="review">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="review-news">
            GET OUR NEWSLETTER
        </div>
        <div>
            <div class="d-flex flex-row review-mail-div justify-content-center align-items-center">
                <input type="text" class="input-group-text review-mail bg-transparent text-left"
                       placeholder="YOUR EMAIL">
                <button type="submit" class="btn review-submit text-white">Submit</button>
            </div>
        </div>
    </div>
</div>