@model Helperland.Models.User
@{
    ViewData["Title"] = "ResetPassword";
}

@section Styles{
    <link href="~/css/resetpassword.css" rel="stylesheet" />
}

<partial name="~/Views/Shared/_LoginModal.cshtml" />

<partial name="~/Views/Shared/_ForgotModal.cshtml" />

<partial name="~/Views/Shared/_PublicHeader.cshtml" />


<Section id="reset-password-section" class="reset-password-section">
    <div class="container-fluid">
        <div class="reset-password-content col-lg-6 col-md-10 mx-auto">
            <div class="head text-center">
                <h1>Reset Password</h1>
            </div>

            <div class="divide-img d-flex align-items-center justify-content-center mb-5">
                <img src="~/assets/forma-1-copy-5.png" alt="">
            </div>

            <form asp-controller="Home" asp-action="ResetPassword">
                <input type="hidden" asp-for="UserId" />
                <div class="form-row mx-auto justify-content-center">
                    <div class="form-group col-md-6">
                        <label><b>Password</b></label>
                        <input class="form-control newpassword1" asp-for="Password" id="inputpass1" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mx-auto justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="inputpass2"><b>Confirm Password</b></label>
                        <input class="form-control newpassword2" id="inputpass2" asp-for="ConfirmPassword"
                               placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-success form-row mx-auto justify-content-center pb-3">@ViewBag.Msg</div>
                <div class="form-row mx-auto justify-content-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit-btn mx-auto">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</Section>

<div style="flex-grow: 1;"></div>

