
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal right fade" id="sidenavModal" tabindex="" role="dialog" aria-labelledby="sidenavModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="nav flex-column">
                    <div class="nav-item nav-link">Welcome,<br><b>Gaurang Patel</b></div>
                    <div class="dropdown-divider"></div>
                    <a href="#dashboard" class="nav-item nav-link navlink-dashboard" data-toggle="tab"
                       data-dismiss="modal">Dashboard</a>
                    <a href="#servicehistory" class="nav-item nav-link navlink-servicehistory active"
                       data-toggle="tab" data-dismiss="modal">Service History</a>
                    <a href="#serviceschedule" class="nav-item nav-link navlink-serviceschedule" data-toggle="tab"
                       data-dismiss="modal">Service Schedule</a>
                    <a href="#favpros" class="nav-item nav-link navlink-favpros" data-toggle="tab"
                       data-dismiss="modal">Favourite Pros</a>
                    <a href="#invoices" class="nav-item nav-link navlink-invoices" data-toggle="tab"
                       data-dismiss="modal">Invoices</a>


                    <a href="#notifications" class="nav-item nav-link navlink-notifications" data-toggle="tab"
                       data-dismiss="modal">Notifications</a>

                    <a href="#mysettings" data-dismiss="modal" data-toggle="tab" class="nav-item nav-link">
                        My
                        Settings
                    </a>
                    <a href="#" class="nav-item nav-link">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a href="prices.html" class="nav-item nav-link">Prices & Services</a>
                    <a href="#" class="nav-item nav-link">Warranty</a>
                    <a href="#" class="nav-item nav-link">Blog</a>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>