@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor 


<header id="PublicHeader">
    <nav id="navbar" class="navbar navbar-expand-xl navbar-dark text-white fixed-top">
        <a class="navbar-brand nav-logo" asp-controller="Home" asp-action="Index">
            <img src="~/assets/logo.png" width="175" height="130" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#sidenavModal"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item active">
                    <button class="btn my-sm-0 text-white book-now-faq" onclick="location.href='@Url.Action("BookService", "Home")'">Book Now</button>
                </li>
                <li class="nav-item">
                    <button class="btn my-sm-0 text-white prices-faq" onclick="location.href='@Url.Action("Prices", "Home")'">Prices & Services</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Warranty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white blog-faq" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white contact-faq" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>

                @{
                    var user = HttpContextAccessor.HttpContext.Session.GetInt32("UserID_Session");
                    if (user != null)
                    {

                        <li class="nav-item notify-nav">
                            <a class="nav-link" href="#">
                                <img src="~/assets/icon-notification.png" alt="">
                            </a>
                        </li>
                        <li class="nav-item dropdown profile-nav">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="~/assets/admin-user.png" alt="">
                                <img src="~/assets/sp-arrow-down.png" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Welcome,<div>@HttpContextAccessor.HttpContext.Session.GetString("UserName_Session")</div></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="CustomerDashboard">My Dashboard</a>
                                <a class="dropdown-item" asp-action="CustomerSettings">
                                    My Settings
                                </a>
                                <a class="dropdown-item" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active">
                            <button class="btn my-sm-0 text-white login-faq" data-dismiss="modal" data-target="#LoginModal"
                                    data-toggle="modal">
                                Login
                            </button>
                        </li>
                        <li class="nav-item active">
                            <button class="btn my-sm-0 text-white become-helper-faq" onclick="location.href='@Url.Action("BecomeAPro", "Home")'">Become a helper</button>
                        </li>
                    }
                }

            </ul>
        </div>
    </nav>
</header>