html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,a:hover{
    text-decoration: none;
}

/***************************************
                Modal
***************************************/
#ServiceHistoryDashModal .modal-body .net-amount span{
    color: #1a626e;
    font-weight: bold;
    font-size: 28px;
}

#ServiceHistoryDashModal .modal-body .action-history-modal button{
    border-radius: 17px;
    height: 35px;
    color: #FFFFFF;
    border: none;
}

#ServiceHistoryDashModal .modal-body .action-history-modal .cancel-upcoming{
    width: 80px;
    background-color: #fa5151;
}

#ServiceHistoryDashModal .modal-body .action-history-modal .reschedule-upcoming{
    width: 120px;
    background-color: #1D7A8C;
}

#ServiceHistoryCancelModal .modal-title b,
#ServiceHistoryRescheduleModal .modal-title b{
    color: #1a626e;
    font-size: 19px;
}

#ServiceHistoryCancelModal .modal-body .reschedule-cancel button,
#ServiceHistoryRescheduleModal .modal-body .reschedule-update button{
    background-color: #1D7A8C;
    width: 100%;
    border-radius: 17px;
    height: 35px;
    border: none;
    color: #FFFFFF;
}

#ServiceHistoryCancelModal .modal-dialog{
    max-width: 400px !important;
}

#EditAddressModal .modal-body .submit-btn{
    width: 100%;
    background-color: #1D7A8C;
    color: #FFFFFF;
    border-radius: 17px;
    margin-top: 20px;
}

#RateSPModal .modal-body .profile-img{
    width: 55px;
    height: 55px;
    border: 1px solid #AAAAAA;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#RateSPModal .modal-body .submit-btn{
    background-color: #1D7A8C;
    color: #FFFFFF;
    border-radius: 17px;
    height: 34px;
    border: none;
    width: 80px;
}

/***************************************
             Welcome-Tab
***************************************/
.welcome-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F9F9F9;
    margin-bottom: 31px;
    margin-top: 80px;
}

.welcome-tab .greet{
    font-size: 30px;
}

/***************************************
          Sidebar & Content
***************************************/
.wrapper{
    display: flex;
    flex-direction: row;
}

aside{
    display: flex;
    width: 262px;
    background-color: #1D7A8C;
    flex-direction: column;
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    font-size: 18px !important;
    height: 55px;
    line-height: 55px;
    color: white !important;
    padding: 0 0 0 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: white;
    background-color: #1a626e ;
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #1a626e;
    color: white;
    border: none;
}

.wrapper{
    justify-content: center;
    margin-bottom: 30px;
}

.table-content{
    padding-left: 31px;
    width: 100%;
    /*max-width: 861px;*/
}



.table-content .dashboard-head,
.table-content .servicehistory-head{
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-content .dashboard-head h2,
.table-content .servicehistory-head h2{
    font-size: 22px;
    color: #646464;
    font-weight: bold;
}

.table-content .dashboard-head button{
    width: 200px;
    height: 34px;
    border-radius: 17px;
    background-color: #146371;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
}

.table-content .servicehistory-head button{
    width: 70px;
    height: 34px;
    border-radius: 17px;
    background-color: #146371;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
}

.table-content table{
    border: 1px solid #E1E1E1;
    font-size: 16px;
}

.table-content table.dataTable{
    border-collapse: collapse !important;
}

.table-content table thead{
    background-color: #F9F9F9;
}

.table-content table thead{
    height: 49px;
}

table.dataTable>thead .sorting:before, 
table.dataTable>thead .sorting:after, 
table.dataTable>thead .sorting_asc:before, 
table.dataTable>thead .sorting_asc:after, 
table.dataTable>thead .sorting_desc:before, 
table.dataTable>thead .sorting_desc:after, 
table.dataTable>thead .sorting_asc_disabled:before, 
table.dataTable>thead .sorting_asc_disabled:after, 
table.dataTable>thead .sorting_desc_disabled:before, 
table.dataTable>thead .sorting_desc_disabled:after{
bottom: 13.5px !important;
}

.table-content table tbody tr{
    height: 71px;
}

.table-content table .service-details{
    max-width: 85px;
}

.table-content table .price-head{
    max-width: 30px;
}

.table-content table .status{
    max-width: 45px;
}

.table-content table .status-complete{
    background-color: #67B644;
    font-size: 13px;
    color: #FFFFFF;
}

.table-content table .status-incomplete{
    background-color: #FF6B6B;
    font-size: 13px;
    color: #FFFFFF;
}

.table-content table tbody .service-provider-datatab{
    display: flex;
    justify-content: center;
    min-width: 129px;
}

.table-content table .profile-sp{
    width: 44px;
    height: 44px;
    border: 1px solid #AAAAAA;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.table-content table .price{
    color: #1D7A8C;
    font-size: 24px;
    font-weight: bold;
}

.table-content table .price span{
    font-size: 20px;
}

.table-content table tbody tr td:nth-child(1),
.table-content table tbody tr td:nth-child(3),
.table-content table tbody tr td:nth-child(4){
    vertical-align: middle;
}

.table-content table tbody tr td:nth-child(4){
    text-align: center;
    padding-left:0 ;
    padding-right: 0;
}

.table-content .res-dash-btn{
    width: 100px;
    height: 34px;
    border-radius: 17px;
    background-color: #146371;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
}

.table-content .cl-dash-btn{
    width: 70px;
    height: 34px;
    border-radius: 17px;
    background-color: #FF6B6B;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
}

.table-content .rate-btn button{
    font-size: 14px;
    color: #ffffff;
    background-color: #6DA9B5;
    border: none;
    width: 70px;
    height: 34px;
    border-radius: 17px;
}

.table-content .rate-btn button:hover{
    background-color: #2b9ab1;
    color: White;
}


.table-content .page-link{
    color: #1D7A8C;
}

.table-content .page-item.active .page-link{
    background-color: #1D7A8C;
    color: white;
    border-color: #1D7A8C;
}


.table-content .favpros-table{
    border: none;
}

.table-content .favpros-table td{
    border-top: none;
}

.table-content .favpros-table thead{
    display: none;
}

.table-content .favpros-table tbody{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.table-content .favpros-table tbody tr{
    height: 310px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0 10px 10px 0;
    border: 1px solid #646464;
}


.table-content .favpros-table .favourite-pros-datatab .profile-sp{
    width: 100px;
    height: 100px;
}

.table-content .favpros-table .favourite-pros-datatab .profile-sp img{
    width: 50px;
}

.table-content .favpros-table .favourite-pros-datatab .favpro-texttab{
    font-size: 24px;
}

/* -----my-settings----- */
#mysettings .nav-tabs{
    border-bottom: 1px solid #808080;
}

#mysettings .nav-item .nav-link{
    background-color: #FFFFFF;
    color: #646464 !important;
    font-weight: bold;
    padding: 0 20px;
    border-bottom:1px solid #808080;
}

#mysettings .nav-item .nav-link.active{
    color: #1D7A8C !important;
    border-bottom: 3px solid #1D7A8C;
}

#mysettings #my-details-st form label{
    font-weight: bold;
    color: #646464;
}

#mysettings #my-details-st form .submit-btn{
    color: #FFFFFF;
    background-color: #1D7A8C;
    width: 80px;
    height: 34px;
    border-radius: 17px;
    border: none;
}

#mysettings #my-addresses-st table thead th:nth-child(2),
#mysettings #my-addresses-st table tbody td:nth-child(2){
    text-align: center;
}

#mysettings #my-addresses-st .new-address-btn{
    color: #FFFFFF;
    background-color: #1D7A8C;
    border: none;
    border-radius: 17px;
    height: 34px;
    width: 200px;
    margin-top: 10px;
}

#mysettings #change-password-st .save-pass-btn{
    color: #FFFFFF;
    background-color: #1D7A8C;
    border: none;
    border-radius: 17px;
    height: 34px;
    width: 80px;
}


@media screen and (max-width:1199px) {
    /* -----Sidebar-&-Content----- */
    aside{
        display: none !important;
    }

    .table-content .favpros-table tbody {
        justify-content: center;
    }
}

@media screen and (max-width:1024px) {
    /* -----Sidebar-&-Content----- */
    .table-content{
        padding: 0 20px;
    }

    .table-content table{
        border: none;
    }

    .table-content #dashboard table thead,
    .table-content #servicehistory table thead{
        display: none;
    }

    .table-content #dashboard table tbody > tr{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .table-content #servicehistory table tbody > tr{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .table-content table tbody .service-provider-datatab{
        display: flex;
        justify-content: flex-start;
    }

    .table-content table tbody .badge {
        margin-left: 10px;
    }

    .table-content table tbody tr td:nth-child(4){
        text-align: left;
    }
}

@media screen and (max-width:576px) {
    #ServiceHistoryDashModal,
    #ServiceHistoryRescheduleModal,
    #ServiceHistoryCancelModal,
    #RateSPModal,
    #EditAddressModal,
    #AddAddressModal{
        padding-left: 15px;
        padding-right: 15px;
    }

    #mysettings .nav-tabs{
        border-bottom: none;
        flex-direction: column;
    }

    #mysettings .nav-item .nav-link{
        border-bottom: none;
    }
}

@media  screen and (max-width:425px) {
    /* -----Welcome-Tab----- */
    .welcome-tab{
        height: 90px;
        line-height: 90px;
    }

    .welcome-tab .greet{
        font-size: 24px;
    }
    
    /* -----Sidebar-&-Content----- */
    .table-content .dashboard-head,
    .table-content .servicehistory-head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .table-content table{
        font-size: 12px;
    }

    .table-content table tbody > tr{
        min-height: 285px;
    }

    .table-content .res-dash-btn{
        font-size: 12px;
        height: 28px;
        width: 80px;
    }

    .table-content .cl-dash-btn,
    .table-content .rate-btn button{
        font-size: 12px;
        height: 28px;
        width: 60px;
    }
}